@media (max-width: 375px) {
  .card-container {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 22rem;
    align-items: center;
    justify-content: center;
    margin: 5.4rem 0rem 2.7rem;

    .header-container {
      width: fit-content;
      padding: 2rem;

      .header-title {
        font-size: 1.7rem;
        margin: 0.5rem 0rem 1rem 0rem;
      }

      .header-text {
        max-width: 100%;
        margin-bottom: 3rem;
      }

      .statistics-container {
        flex-direction: column;
        justify-content: center;
        max-width: 100%;

        .statistic:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
    .overlay-container {
      display: flex;
      width: 100%;
      .header-image {
        display: none;
      }
      .header-image-mobile {
        display: block;
      }
    }
  }

  /* ------------------ FOOTER ----------------- */
  .attribution {
    font-size: 0.7rem;
    margin: 0rem 0rem 2.7rem;
  }
}
